<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Completed Tasks </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Completed Tasks</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="completedTasks.length > 0">
    <ion-item *ngFor="let task of completedTasks; let i = index">
      <ion-label>
        <h2>{{ task }}</h2>
      </ion-label>
      <ion-button color="danger" slot="end" (click)="onDeleteTask(i)">
        Delete
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="completedTasks.length === 0">
    <ion-card-header>
      <ion-card-title>No Completed Tasks</ion-card-title>
    </ion-card-header>
    <ion-card-content> You haven't completed any tasks yet. </ion-card-content>
  </ion-card>
</ion-content>
